/* headings style */
h1,h2,h3{
  font-family:verdana;
}
h1,h2,h3,p{
  padding:10px;
  margin:20px;
}
/* form style */
form{
  padding:20px;
}
/* link style */
a{
  color:powderblue;
  text-decoration:none;
}
/* table style */
th,td{
  padding:10px;
}
table,th,td{
  border: 1px solid powderblue;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color:yellow;
}
/* navigation style */
.nav {
  background-color:yellow;
}
.fullwidth {
  width: 100%;
}
/* sidebar style */
.sidebar{
  float: left;
  width: 20%;
}
/* main style */
.main{
  float:left;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .sidebar, .main {
    width: 100%;
  }
}
