/*header style */
h1{
  font-size:60px;
  color:powderblue;
  text-align:center;
  background-image: url('images/cloudbg.webp'), ;
}

/* headings style */
h1,h2,h3{
  font-family:verdana;
}
h1,h2,h3,p{
  padding:10px;
  margin:20px;
}
/* form style */
form{
  padding:20px;
}
/* link style */
a{
  color:powderblue;
  text-decoration:none;
}
/* table style */
th,td{
  padding:10px;
}
table,th,td{
  border: 1px solid powderblue;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color:lemonchiffon;
}
/* navigation style */
.nav {
  background-color:lemonchiffon;
  border-style:solid;
  border-radius:15px;
  border-color:lemonchiffon;
  list-style-type:none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.nav li{
  float:left
}
.nav li a{
  display: block;
  text-align: center;
  padding: 22px 20px 20px;
  text-decoration: none;
  margin:2px;
}
.nav li a:hover:not(.active){
  border-style:solid;
  border-width: 4px;
  border-color:powderblue;
  border-radius:15px;
  padding: 18px 16px 16px;
  margin:2px;
}
.active{
  background-color: powderblue;
  border-width:0px;
  border-style:solid;
  border-radius:15px;
  border-color:powderblue;

}

.fullwidth {
  width: 100%;
}
/* sidebar style */
.sidebar{
  float: left;
  width: 20%;
  font-family:verdana;
  font-weight:bold;
  font-size:.8em;
  background-color:lemonchiffon;
  height:100%;
  overflow:auto;
  position:absolute;
  border-radius:15px;
}
/* main style */
.main{
  float:left;
  width: 75%;
  margin-left:25%;
}
@media screen and (max-width: 800px) {
  .sidebar, .main {
    width: 100%;
    height:auto;
    margin-left:auto;
    position:relative;
    margin-bottom:20px;
  }
  .clearfix::after{
    clear:none;
  }
}
.clearfix::after{
  content: "";
  clear: both;
  display:table;
}
.yellow{
  background-color: lemonchiffon;
  border: 2px solid black;
  border-radius: 20px;
}
.center{
  margin:auto;
  width: 75%;
  padding: 10px;
}
/* input style */
input{
  padding:10px;
  margin:20px;
}
input[type="checkbox"]{
  padding:10px;
  margin:5px;
}
/* fieldset style */
fieldset{
  background-color:ghostwhite;
}
/*article style */
article{
  border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius:15px;
  margin-bottom:10px;
}
